.nav-container {
    margin: 0;
    padding: 10px 20px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background: rgba(17, 24, 39, 1);
    color: white; 
    border-radius: 5px;
}
.navbar-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: #f4a261;
}
.nav-img {
    width: 30px;
    height: auto;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.nav-img:hover {
    color: #f4a261;
}

.nav-search {
    padding: 8px;
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.logoutbtn{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.profile{
    width: 300px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 20px;
    z-index: 1;
}
.profile div{
    display: flex;
    justify-content: flex-end;
}
svg{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.user-profile-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user-profile-info img{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}
.user-profile-info p{
    margin: 2px;
} 
.user-profile-info button{
    margin: 2px;
    width: 50%;
    height: 30px;
} 
.b{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 768px) {
    .navbar-left{
        gap: 10px;
    }
    .nav-container {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .nav-link {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    .nav-search {
        width: 100%;
    }
}
